* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
}

main {
  width: 100%;
}

.background-image {
  background: url(../imgs/Background.png) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.background-image_gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 200%);
  height: 100%;
  width: 100%;
}

.sidebar {
  background: #23232e;
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar .menu {
  width: 100%;
  margin-top: 80px;
}

.sidebar .menu .item {
  position: relative;
  cursor: pointer;
}

.sidebar .menu .item__logo {
  position: relative;
  cursor: pointer;
}

.sidebar .menu .item a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.sidebar .menu .item__logo a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  display: block;
  padding: 5px 20px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10%;
}

.sidebar .menu .item a:hover {
  opacity: 0.7;
  transition: 0.3 ease;
}

.sidebar .menu .item__logo a:hover {
  opacity: 0.7;
  transition: 0.3 ease;
}

.sidebar .menu .item i {
  margin-right: 15px;
}

.sidebar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.sidebar .menu .item .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.sidebar .menu .item .sub-menu a {
  padding-left: 80px;
}

.rotate {
  transform: rotate(90deg);
}

.cadastro {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
  height: 50vh;
}

.row {
  display: flex;
  justify-content: space-between;
}

.cadastro_produto {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
  height: 100vh;
}

.editar {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
  height: 50vh;
}

.cadastro__h1 {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 2% 0px 5%;
}

.editar__h1 {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 2% 0px 5%;
}

.cadastro__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 100%;
  padding-left: 2%;
}

.editar__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-left: 2%;
}

.cadastro__form_produto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.cadastro__form_item {
  display: flex;
}

.cadastro__form_select {
  display: flex;
}

.select {
  flex: .967;
  padding: 0 .5em;
  cursor:pointer;
  font-size: 1em;
  border: none;
}

select::-ms-expand {
  display: none;
  outline: none;
}

.select {
  height: 2.5em;
  overflow: hidden;
  border-radius: .40em;
  outline: none;
}

.select_lista {
  cursor:pointer;
  font-size: 1em;
  border: none;
}

.select_lista {
  width: 88%;
  height: 2.5em;
  overflow: hidden;
  border-radius: .40em;
  outline: none;
}

.editar__form_item {
  display: flex;
}

.input-cadastro {
  display: flex;
  width: 97%;
}

.input-cadastro_produto {
  display: flex;
  width: 49%;
}

.input-cadastro > input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.input-cadastro_produto > input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.input-cadastro > textarea {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.input-cadastro_produto > select {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.editar__form_item > input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.input-cadastro > input:focus {
  border: 2px solid black;
  border-color: #1890ff;
}

.input-cadastro_produto > input:focus {
  border: 2px solid black;
  border-color: #1890ff;
}

.editar__form_item > input:focus {
  border: 2px solid black;
  border-color: #1890ff;
}

.input-cadastro > input:invalid {
  border-color: red;
}

.input-cadastro_produto > input:invalid {
  border-color: red;
}

.editar__form_item > input:invalid {
  border-color: red;
}

.input-cadastro > input:valid {
  border-color: green;
}

.input-cadastro_produto > input:valid {
  border-color: green;
}

.editar__form_item > input:valid {
  border-color: green;
}

.editar__form_item-large {
  width: 97%;
}

.cadastro__form_item_label {
  min-width: 230px;
  font-size: 18px;
  font-weight: bold;
}

.cadastro__form_select_label {
  justify-content: center;
  align-items: center;
  min-width: 190px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 6px;
}

.editar__form_item_label {
  min-width: 230px;
  font-size: 18px;
  font-weight: bold;
}

.cadastro__form_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editar__form_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro__form_button {
  width: 10%;
  height: 30px;
  justify-self: center;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2%;
}

.editar__form_button {
  width: 10%;
  height: 30px;
  justify-self: center;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2%;
}

.cadastro__form_button-submit {
  background-color: #00b050;
}

.editar__form_button-submit {
  background-color: #00b050;
}

.cadastro__form_button-reset {
  margin-left: 25px;
  background-color: #ff0000;
}

.editar__form_button-reset {
  margin-left: 25px;
  background-color: #ff0000;
}

.lista {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
}

.inicial {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
}

.lista__h1 {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 2% 0px 5%;
}

.inicial__h1 {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 2% 0px 5%;
}

.filtro {
  display: flex;
}

.filtro i {
  width: 60px;
  cursor: pointer;
  padding-left: 15px;
}

.lista__buscar {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.lista__buscar-large {
  width: 99%;
  padding-left: 2px;
  display: flex;
}

.lista__buscar > input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding-left: 15px;
  outline: none;
  border: none;
}

.lista__buscar > input:focus {
  border: 2px solid black;
  border-color: #1890ff;
}

.lista__buscar i {
  cursor: pointer;
}

.lista__labels {
  width: 99%;
  border-collapse: separate;
  table-layout: fixed;
  margin: 1% 0px 0px;
}

.lista__conteudo {
  width: 99%;
  border-collapse: separate;
  table-layout: fixed;
}

.lista__conteudo td,
table th {
  min-width: 25px;
  font-size: 17px;
  padding: 10px 15px;
  border: solid 1px black;
  text-align: center;
}

.lista__conteudo i {
  color: black;
}