* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
}

.body_chat {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
}

.background-image {
  background: url(../imgs/Background.png) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
}

.background-image_gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 200%);
  height: 100%;
  width: 100%;
}

.background-image_gradiente {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 200%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sidebar {
  background: #23232e;
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar .menu {
  width: 100%;
  margin-top: 80px;
}

.sidebar .menu .item {
  position: relative;
  cursor: pointer;
}

.sidebar .menu .item_usuario {
  position: relative;
  cursor: pointer;
}

.sidebar .menu .item__logo {
  position: relative;
  cursor: pointer;
}

.sidebar .menu .item_usuario {
  position: relative;
  cursor: pointer;
}

.sidebar .menu .item a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.sidebar .menu .item_usuario a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.sidebar .menu .item__logo a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  display: block;
  padding: 5px 20px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10%;
}

.sidebar .menu .item a:hover {
  opacity: 0.7;
  transition: 0.3 ease;
}

.sidebar .menu .item__logo a:hover {
  opacity: 0.7;
  transition: 0.3 ease;
}

.sidebar .menu .item i {
  margin-right: 15px;
}

.sidebar .menu .item_usuario i {
  margin-right: 15px;
}

.sidebar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.sidebar .menu .item_usuario a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.sidebar .menu .item .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.sidebar .menu .item_usuario .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.sidebar .menu .item .sub-menu a {
  padding-left: 80px;
}

.sidebar .menu .item_usuario .sub-menu a {
  padding-left: 80px;
}

.rotate {
  transform: rotate(90deg);
}

.cadastro {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
  height: 50vh;
}

.usuario {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
  height: 60vh;
}

.chat {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
}

.usuarios {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
}

.pedido {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
  height: 50vh;
}

.produto {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
  height: 100vh;
}

.cliente {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
  height: 48vh;
}

.usuario_editar {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
  height: 72vh;
}

.row {
  display: flex;
  justify-content: space-between;
}

.cadastro_produto {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
  height: 100vh;
}

.editar {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
  height: 50vh;
}

.cadastro__h1 {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 0% 0px 3%;
  font-size: 32px;
}

.editar__h1 {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 2% 0px 5%;
}

.cadastro__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 100%;
  padding-left: 2%;
}


.editar__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-left: 2%;
}

.cadastro__form_produto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.cadastro__form_usuario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.cadastro__form_item {
  display: flex;
}

.cadastro__form_select {
  display: flex;
}

.select {
  flex: .967;
  padding: 0 .5em;
  cursor:pointer;
  font-size: 1em;
  border: none;
}

select::-ms-expand {
  display: none;
  outline: none;
}

.select {
  height: 2.5em;
  overflow: hidden;
  border-radius: .40em;
  outline: none;
}

.select_lista {
  cursor:pointer;
  font-size: 1em;
  border: none;
}

.select_lista {
  width: 88%;
  height: 2.5em;
  overflow: hidden;
  border-radius: .40em;
  outline: none;
}

.editar__form_item {
  display: flex;
}

.input-cadastro {
  display: flex;
  width: 97%;
}

.input-cadastro_erro {
  display: flex;
  width: 97%;
}

.input-usuario .image input {
  display: flex;
  width: 100%;
}

.input-cadastro_produto {
  display: flex;
  width: 49%;
}

.input-cadastro > input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.input-cadastro_produto > input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.input-cadastro > textarea {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.input-cadastro_produto > select {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.input-cadastro_produto > image {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.editar__form_item > input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.input-cadastro > input:focus {
  border: 2px solid black;
  border-color: #1890ff;
}

.input-cadastro_produto > input:focus {
  border: 2px solid black;
  border-color: #1890ff;
}

.editar__form_item > input:focus {
  border: 2px solid black;
  border-color: #1890ff;
}

.input-cadastro > input:invalid {
  border-color: red;
}

.input-cadastro_produto > input:invalid {
  border-color: red;
}

.editar__form_item > input:invalid {
  border-color: red;
}

.input-cadastro > input:valid {
  border-color: green;
}

.input-cadastro_produto > input:valid {
  border-color: green;
}

.editar__form_item > input:valid {
  border-color: green;
}

.editar__form_item-large {
  width: 97%;
}

.cadastro__form_item_label {
  min-width: 230px;
  font-size: 18px;
  font-weight: bold;
}

.cadastro__form_item_erro {
  width: 97%;
  height: 10%;
  text-align: center;
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  border-radius: 5px; 
  font-size: 18px;
  display: none;
}

.cadastro__form_select_label {
  justify-content: center;
  align-items: center;
  min-width: 190px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 6px;
}

.editar__form_item_label {
  min-width: 230px;
  font-size: 18px;
  font-weight: bold;
}

.cadastro__form_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editar__form_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro__form_button {
  width: 150px;
  height: 30px;
  justify-self: center;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2%;
}


.cadastro__form .input-cadastro i{
  position: absolute;
  right: 80px;
  top: 27.5%;
  color: rgb(62, 62, 62);
  cursor: pointer;
  transform: translateY(-50%);
}

.cadastro__form .input-cadastro i.active::before{
  color: #333;
  content: "\f070";
}

.editar__form_button {
  width: 10%;
  height: 30px;
  justify-self: center;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2%;
}

.cadastro__form_button-submit {
  background-color: #00b050;
}

.editar__form_button-submit {
  background-color: #00b050;
}

.cadastro__form_button-reset {
  margin-left: 25px;
  background-color: #ff0000;
}

.editar__form_button-reset {
  margin-left: 25px;
  background-color: #ff0000;
}

.lista {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
}

.inicial {
  display: flex;
  flex-direction: column;
  margin-left: 295px;
}

.lista__h1 {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 2% 0px 5%;
}

.inicial__h1 {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 2% 0px 5%;
}

.filtro {
  display: flex;
}

.filtro i {
  width: 60px;
  cursor: pointer;
  padding-left: 15px;
}

.lista__buscar {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.lista__buscar-large {
  width: 99%;
  padding-left: 2px;
  display: flex;
}

.lista__buscar > input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding-left: 15px;
  outline: none;
  border: none;
}

.lista__buscar > input:focus {
  border: 2px solid black;
  border-color: #1890ff;
}

.lista__buscar i {
  cursor: pointer;
}

.lista__labels {
  width: 99%;
  border-collapse: separate;
  table-layout: fixed;
  margin: 1% 0px 0px;
}

.lista__conteudo {
  width: 99%;
  border-collapse: separate;
  table-layout: fixed;
}

.lista__conteudo td,
table th {
  min-width: 25px;
  font-size: 17px;
  padding: 10px 15px;
  border: solid 1px black;
  text-align: center;
}

.lista__conteudo i {
  color: black;
}

/* CSS Chat/Login */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.chat_registro{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #23232e;
  padding: 0 10px;
}

.wrapper{
  background: #fff;
  max-width: 450px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}

.wrapper_registro{
  display: flex;
  background: #fff;
  max-width: 450px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}

.usuario header {
  display: flex;
  align-items: center;
  padding-top: 15px;
  justify-content: flex-end;
}

.chat header {
  display: flex;
  align-items: center;
  padding-top: 7px;
  justify-content: flex-end;
}

.usuarios header .content,
.usuarios a .content img  {
  display: flex;
}

.users-list a {
  margin-left: -255px;
  display: flex;
  align-items: center;
  padding-top: 7px;
  margin-bottom: 10px;
  padding-bottom:  10px;
  padding-right: 15px;
  border-bottom: 1px solid #e6e6e6;
  border-bottom-color: #f1f1f1;
}

:is(.users-list, .chat-box)::-webkit-scrollbar {
  width: 0px;
}

.users-list a:last-child {
  border: none;
  margin-bottom: 0px;
}

.users-list a .content {
  display: flex;
}

.users-list a .content img {
  height: 40px;
  width: 40px;
}

.users-list a .content p {
  color: #67676a;
}

.users-list a .status-dot {
  font-size: 12px;
  color: #468669;
}

.users-list a .status-dot.offline {
  color: #ccc;
}

.usuarios header {
  margin-left: -295px;
  display: flex;
  align-items: center;
  padding-top: 7px;
  justify-content: flex-end;
}

.users-list a {
  display: flex;
  padding-top: 7px;
  justify-content: space-between;
  margin-right: 30px;
}

.usuarios .search {
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.usuarios .search .text {
  font-size: 18px;
  margin-left: -255px;
}

.usuarios .search input { 
  margin-left: -255px;
  position: absolute;
  height: 42px;
  width: calc(100% + 175px);
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3 ease;
}

.usuarios .search input.active {
  opacity: 1;
  pointer-events: auto; 

}

.usuarios .search button {
  margin-right: 30px;
  width: 47px;
  height: 42px;
  border: none;
  outline: none;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  font-size: 17px;
  border-radius: 0 5px 5px 0;
}

.usuarios .search button.active {
  color: #fff;
  background-color: #333;  
}

.usuarios .search button.active i::before {
  content: "\f070";
}

.usuarios a .content img {
  height: 40px;
  width: 40px;
}

.pedido header {
  display: flex;
  align-items: center;
  padding-top: 15px;
  justify-content: flex-end;
}

.cliente header {
  display: flex;
  align-items: center;
  padding-top: 15px;
  justify-content: flex-end;
}

.produto header {
  display: flex;
  align-items: center;
  padding-top: 15px;
  justify-content: flex-end;
}

.wrapper_usuario img {
  object-fit: cover;
  border-radius: 50%;
}

.wrapper_chat img {
  object-fit: cover;
  border-radius: 50%;
}
:is(.usuarios, .users-list) .content {
  display: flex;
  align-items: center;
}
:is(.usuarios, .users-list) .detalhes {
  margin-left: 15px;
  color: #000;
}

.wrapper_usuario header .content {
  display: flex;
}

.wrapper_chat header .content {
  display: flex;
}

.wrapper_usuario header .content img {
  height: 50px;
  width: 50px;
}

.wrapper_chat header .content img {
  height: 50px;
  width: 50px;
}

.wrapper_usuario header .detalhes {
  margin-left: 15px;
}

.wrapper_chat header .detalhes {
  margin-left: 15px;
}

:is(.usuarios, .users-list) .detalhes span {
  font-size: 18px;
  font-weight: 500;
}

.wrapper_chat header .detalhes span {
  font-size: 18px;
  font-weight: 500;
}

.wrapper_usuario header .logout {
  color: #fff;
  font-size: 17px;
  padding: 7px 15px;
  background-color: #333;
  border-radius: 5px;
  margin-right: 30px;
  margin-left: 100px;
}

.wrapper_chat header .logout {
  color: #fff;
  font-size: 17px;
  padding: 7px 15px;
  background-color: #333;
  border-radius: 5px;
  margin-right: 30px;
  margin-left: 100px;
}

/* CSS Login */

.form {
  padding: 25px 30px;
}

.form .cadastro__form_usuario{
  padding: 0%;
}

.form header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.form form{
  margin: 20px 0;
}

.texto-erro {
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  display: none;
}

.form form .texto-erro {
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  display: none;
}

.form form .name-details{
  display: flex;
}

.form .name-details .field:first-child{
  margin-right: 10px;
}

.form .name-details .field:last-child{
  margin-left: 10px;
}

.form form .field{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}

.former form .input-cadastro {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}

.former form .field{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}

.form form .field label{
  margin-bottom: 2px;
}

.former form .field label{
  margin-bottom: 2px;
}

.form form .input input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.former form .input input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form form .field input{
  outline: none;
}

.form form .image input{
  font-size: 17px;
}

.form form .button input{
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: #333;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 13px;
}

.former form .button input{
  width: 150.91px;
  height: 30px;
  justify-self: center;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: #00b050;
  font-size: 18px;
}

.form form .button_reset input{
  width: 150.91px;
  height: 30px;
  justify-self: center;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: red;
  margin-left: 25px;
}

.former form .button_reset input{
  width: 150.91px;
  height: 30px;
  justify-self: center;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: red;
  margin-left: 25px;
  font-size: 18px
}

.container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding-top: 1%;
}

.form form .field i{
  position: absolute;
  right: 15px;
  top: 70%;
  color: #ccc;
  cursor: pointer;
  transform: translateY(-50%);
}

.former form .input-cadastro i {
  position: absolute;
  right: 15px;
  top: 50%;
  color: #ccc;
  transform: translateY(-50%);
  cursor: pointer;
}

.form form .field i.active::before{
  color: #333;
  content: "\f070";
}

.former form .input-cadastro i.active::before{
  color: #333;
  content: "\f070";
}

.form .link{
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}

.form .link a{
  color: #333;
}

.form .link a:hover{
  text-decoration: underline;
}

/* CSS Area Chat */

.area_chat{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../imgs/Background.png) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 10px;
  margin-left: 10px;
}

.wrapper_chat {
  width: 100%;
  margin-left: 315px;
  height: 96%;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5); 
  margin-top: 1%;
  margin-right: 1%;
  overflow-y: auto;
}

.wrapper_chat img{
  object-fit: cover;
  border-radius: 50%;
}

.chat-area header{
  display: flex;
  align-items: center;
  padding: 18px 30px;
}

.former header .back-icon {
  font-size: 25px;
  color: #333;
  left: 350px;
  position: absolute;
}

.users-list .output{
  margin-left: -255px;
}

.chat-box {
  margin-left: -295px;
  margin-top: 10px;
  height: 755px;
  overflow-y: auto;
  padding: 10px 30px 20px 30px;
  background: #f7f7f7;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .text{
  position: absolute;
  top: 100%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
}

.chat-box .chat{
  margin: 15px 0;
}

.chat-box .chat p{
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%),
              0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing{
  display: flex;
}

.chat-box .outgoing .detalhes{
  margin-left: auto;
  max-width: calc(100% - 130px);
}

.outgoing .detalhes p{
  background: #333;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}

.chat-box .incoming{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.chat-box .incoming img{
  height: 45px;
  width: 45px;
}

.chat-box .incoming .detalhes{
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}

.incoming .detalhes p{
  background: #fff;
  color: #333;
  border-radius: 18px 18px 18px 0;
}

.typing-area {
  margin-left: -270px;
  padding: 15px 30px 20px 0px;
  display: flex;
  justify-content: space-between;
}

.typing-area input{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}

.typing-area button{
  color: #fff;
  width: 55px;
  border: none;
  outline: none;
  background: #333;
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}

.typing-area button.active{
  opacity: 1;
  pointer-events: auto;
}
